:root {
  --color-main: #2d2d2d;
  --main-size: 40px;
  --color-bg: rgb(168, 161, 161);
  --color-borderBoard: rgb(109, 101, 101);
  --color-border: rgb(66, 9, 9);
  --color-accent: rgb(109, 101, 101);

}